img {
    height: auto;
    width: 500px;
}

strong {
    color: deeppink;
    background-color: white;
}

h1 {
    color: deeppink;
    background-color: white;
}

a, li {
    color: grey;
}

.poem {
    color:deeppink;
    font-size: larger;
    text-align: center;
}

.logo {
    width: 200px;
}